<div class="login-container">
    <h2>{{'Login' }}</h2>
    <form #authForm="ngForm" (ngSubmit)="onLogin(authForm)">
        <label>{{ 'Email' }}:</label>
        <input type="email" [(ngModel)]="email" name="email" required />

        <label>{{ 'Password' }}:</label>
        <input type="password" [(ngModel)]="password" name="password" required />

        <button type="submit">Login</button>
    </form>

    <p class="signup-prompt">
        Don't have an account?
        <a [routerLink]="['/signup']" class="signup-link">Go to SignUp</a>
    </p>

    <p class="reset-prompt">
        Don't remember your password?
        <a class="reset-link">Send Reset Password Email</a>
    </p>

    <p *ngIf="success" class="message-success">{{ success }}</p>
    <p *ngIf="message" class="message-text">{{ message }}</p>
</div>