.home-container {
    font-family: 'Rubik', sans-serif;
    position: fixed;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 60%;
    overflow-y: auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #ff7f32;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff7f32;
    margin-top: 1.5rem;
}

ul.features-list,
ul.tech-stack {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1rem;
}

ul.features-list li,
ul.tech-stack li {
    background: #f5f5f5;
    border: 1px solid #ddd;
    margin: 0.5rem 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    font-weight: normal;
}

@media (max-width: 768px) {
    .home-container {
        padding: 1.5rem;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p,
    ul {
        font-size: 0.9rem;
    }
}