.fullscreen-container {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.notfound-container {
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    width: 90%;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.notfound-container h1 {
    font-size: 5rem;
    color: #ff4d4d;
    margin: 0 0 1rem;
    font-weight: bold;
}

.notfound-container p {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0 0 2rem;
    color: #555;
}

button {
    width: 50%;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-weight: 750;
    background: #ffa94d;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    translate: 1.5px 1.5px;
    box-shadow: 1.5px 1.5px 0 #000000;
}

button:active {
    translate: 3px 3px;
    box-shadow: 0 0 0 #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .notfound-container {
        width: 90%;
        padding: 1.5rem;
        margin-top: 10rem;
    }

    .notfound-container h1 {
        font-size: 3.5rem;
    }

    .notfound-container p {
        font-size: 1rem;
    }

    .back-home {
        font-size: 0.9rem;
        padding: 0.7rem 1.2rem;
    }
}